<div id="section-id-{{ section.id }}">
{% for block in section.blocks %}
  {% case block.type %}
      
      {% when 'text' %}
        <div class="rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

  {% endcase %}
{% endfor %}
</div>

{% schema %}
  {
    "name": "enviromental",
    "settings": [
	  {
        "type": "select",
        "id": "height1",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      }
	],
	"blocks":[
      {
		"type":"text",
		"name":"haeding",
		"settings":[
          {
            "type":"text",
            "id":"text1",
            "label":"Text",
			"default":"test"
          }
		]
      }
	],
    "presets": [
      {
        "name": "enviromental",
        "settings": {},
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
