<div class="{% if section.settings.use_alt_bg1 %}use-alt-bg1{% endif %}">
  <div style="width:30%;float:left;padding:50px 30px 0px 30px;">
    {% if section.settings.scrollprotitle != blank %}
  	  {{ section.settings.scrollprotitle }}
  	{% endif %}
  </div>
  <div style="width:70%;float:left;">
    <div style="padding:20px 10px;">
    	SCROLL
    </div>
    <div class="{% if section.settings.enable_carousel %}collection-slider{% endif %}">
      <div class="{% if section.settings.enable_carousel %}carousel{% endif %}">
        {% assign slides = section.blocks | where: "type", "image" %}
      	{% if slides.size > 0 %}
            {%- liquid
              if settings.coll_grid_image_shape == 'portrait-23'
                assign chosen_aspect_ratio = 0.67
              elsif settings.coll_grid_image_shape == 'portrait-45'
                assign chosen_aspect_ratio = 0.8
              elsif settings.coll_grid_image_shape == 'square'
                assign chosen_aspect_ratio = 1.0
              elsif settings.coll_grid_image_shape == 'landscape-54'
                assign chosen_aspect_ratio = 1.25
              elsif settings.coll_grid_image_shape == 'landscape-32'
                assign chosen_aspect_ratio = 1.50
              elsif settings.coll_grid_image_shape == 'tallest'
                assign chosen_aspect_ratio = 999
                for block in slides
                  assign collection = collections[block.settings.image]
                  if collection != blank
                    assign collection_image = block.settings.image | default: collection.featured_image
                    if collection_image.aspect_ratio < chosen_aspect_ratio
                      assign chosen_aspect_ratio = collection_image.aspect_ratio
                    endif
                  endif
                endfor
              else
                assign chosen_aspect_ratio = 0
                for block in slides
                  assign collection = collections[block.settings.image]
                  if collection != blank
                    assign collection_image = block.settings.image | default: collection.featured_image
                    if collection_image.aspect_ratio > chosen_aspect_ratio
                      assign chosen_aspect_ratio = collection_image.aspect_ratio
                    endif
                  endif
                endfor
              endif
            -%}

            {% for block in slides %}
              {% assign collection = collections[block.settings.image] %}

              {% unless collection == blank %}
                {% render 'collection-block', collection: collection, custom_attrs: block.shopify_attributes, manual_image_load: section.settings.enable_carousel, custom_image: block.settings.image, custom_aspect_ratio: chosen_aspect_ratio %}
              {% else %}
                {% render 'onboarding-collection-block', forloop: forloop %}
              {% endunless %}
            {% endfor %}

          {% else %}

            {% for i in (1..6) %}
              {% render 'onboarding-collection-block', forloop: forloop %}
            {% endfor %}

          {% endif %}
      </div>
     
     {% for slide in slides %}
       
     {% endfor %}
    </div>
    <div></div>
  </div>
</div>

{% schema %}
  {
    "name": "ScrollPro",
	"class": "section-scrollpro",
    "settings": [
	  {
		"type":"text",
		"id":"scrollprotitle",
		"label":"Title",
		"default":"Be Part of the Solution. Not the Pollution."
	  },
	  {
		"type": "range",
        "id": "scrollprotitle_fontsize",
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "Title Font Size",
        "default": 16
	  },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel",
        "default": true
      },
	  {
		"type": "checkbox",
		"id": "use_alt_bg1",
		"label": "Use alternate section color",
		"default": false
	  }
	],
	"blocks":[
	  {
		"type": "image",
        "name": "Slide",
        "settings": [
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  },
		  {
			"type": "url",
			"id": "url",
			"label": "Link"
		  }
		]
	  },
	  {
		"type": "button",
		"name": "Button",
		"limit":1,
		"settings":[
		  {
			"type": "text",
			"id": "button",
			"label": "Button Label"
		  },
		  {
			"type": "url",
			"id": "link",
			"label": "Button Link"
		  }
		]
	  }
	],
	"presets":[
	  {
        "name": "ScrollPro",
        "settings": { },
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "button"
          }
        ]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
