<div class="{% if section.settings.use_alt_bg1 %}use-alt-bg1{% endif %}">
  <div style="width:30%;float:left;padding:50px 30px 0px 30px;">
    {% if section.settings.scrollprotitle != blank %}
  	  {{ section.settings.scrollprotitle }}
  	{% endif %}
  </div>
  <div style="width:70%;float:left;">
    <div style="padding:20px 10px;">
    	SCROLL
    </div>
    <div style="width:100%;overflow-x: hidden;">
     {% assign slides = section.blocks | where: "type", "image" %}
     {% for slide in slides %}
       
     {% endfor %}
    </div>
    <div></div>
  </div>
</div>

{% schema %}
  {
    "name": "ScrollPro",
	"class": "section-scrollpro",
    "settings": [
	  {
		"type":"text",
		"id":"scrollprotitle",
		"label":"Title",
		"default":"Be Part of the Solution. Not the Pollution."
	  },
	  {
		"type": "range",
        "id": "scrollprotitle_fontsize",
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "Title Font Size",
        "default": 16
	  },
	  {
		"type": "checkbox",
		"id": "use_alt_bg1",
		"label": "Use alternate section color",
		"default": false
	  }
	],
	"blocks":[
	  {
		"type": "image",
        "name": "Slide",
        "settings": [
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  },
		  {
			"type": "url",
			"id": "url",
			"label": "Link"
		  }
		]
	  },
	  {
		"type": "button",
		"name": "Button",
		"limit":1,
		"settings":[
		  {
			"type": "text",
			"id": "button",
			"label": "Button Label"
		  },
		  {
			"type": "url",
			"id": "link",
			"label": "Button Link"
		  }
		]
	  }
	],
	"presets":[
	  {
        "name": "ScrollPro",
        "settings": { },
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "button"
          }
        ]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
